In [1]:
# 1. Declare an empty list

empty_lst = list()
empty_lst2 = []

print(empty_lst)
print(empty_lst2)

[]
[]

In [21]:
# 2. Declare a list with more than 5 items
first_lst = ['Ishaya', 'Danladi', 'Musa', 'Yusuf', 'Daniel']
print(first_lst)

# 3. Find the length of your list
print(len(first_lst))

# 4. Get the first item, the middle item and the last item of the list
first_item = first_lst[0]
middle_item = first_lst[2]
last_item = first_lst[4]

print(first_item)
print(middle_item)
print(last_item)

['Ishaya', 'Danladi', 'Musa', 'Yusuf', 'Daniel']
5
Ishaya
Musa
Daniel

In [31]:
# 5.Declare a list called mixed_data_types, put your(name, age, height, marital status, address)
mixed_data_types = ['Ishaya', 25, 1.67, 'Single', 'Tunfure']

# 6. Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.
companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

# 7. Print the list using _print()
print(mixed_data_types)
print(companies)

# 8. Print the number of companies in the list
print(len(mixed_data_types))
print(len(companies))

# 9. Print the first, middle and last company
first_company = companies[0]
middle_company = companies[3]
last_company = companies[-1]

print(first_company)
print(middle_company)
print(last_company)

# 10.  Print the list after modifying one of the companies
companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
companies[0] = 'Twitter'
print(companies)

['Ishaya', 25, 1.67, 'Single', 'Tunfure']
['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
5
7
Facebook
Apple
Amazon
['Twitter', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [37]:
# 11. Add an IT company to it_companies
companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
companies.append('Instagram')
print(companies)

companies.insert(2,'WhatsApp')
print(companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Instagram']
['Facebook', 'Google', 'WhatsApp', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Instagram']

In [39]:
# 12. Insert an IT company in the middle of the companies list
companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
companies.insert(3,'WhatsApp')
print(companies)

['Facebook', 'Google', 'Microsoft', 'WhatsApp', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [43]:
# 13. Change one of the it_companies names to uppercase (IBM excluded!)
companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
companies[0] = 'FACEBOOK'
print(companies)

['FACEBOOK', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [45]:
# 14. Join the it_companies with a string '#;&nbsp; '
companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
companies.extend('#;&nbsp; ')
print(companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', '#', ';', '&', 'n', 'b', 's', 'p', ';', ' ']

In [52]:
# 15. Check if a certain company exists in the it_companies list.
companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
print('Checking if Toyota is in the list of companies:', 'Toyota' in companies)

Checking if Toyota is in the list of companies: False

In [58]:
# 16. Sort the list using sort() method

companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

companies.sort() #Ascending
print(companies)

# 17. Reverse the list in descending order using reverse() method

companies.sort(reverse = True) # Descending
print(companies)

['Amazon', 'Apple', 'Facebook', 'Google', 'IBM', 'Microsoft', 'Oracle']
['Oracle', 'Microsoft', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon']

In [5]:
#18. Slice out the first 3 companies from the list
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
first_three_sliced = it_companies[0:3]
print(first_three_sliced)

['Facebook', 'Google', 'Microsoft']

In [7]:
#19. Slice out the last 3 companies from the list
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
last_three_sliced = it_companies[4:]
print(last_three_sliced)

['IBM', 'Oracle', 'Amazon']

In [11]:
#20. Slice out the middle IT company or companies from the list
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
middle_sliced = it_companies[3:4]
print(middle_sliced)

['Apple']

In [20]:
#21. Remove the first IT company from the list

it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
it_companies.remove('Facebook')
print(it_companies)

it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
del it_companies[0]
print(it_companies)

['Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
['Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [28]:
#22. Remove the middle IT company or companies from the list

it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
middle_index = len(it_companies) // 2
removed_item = it_companies.pop(middle_index)

print('The middle item is:',removed_item)
print(it_companies)

The middle item is: Apple
['Facebook', 'Google', 'Microsoft', 'IBM', 'Oracle', 'Amazon']

In [38]:
#23. Remove the last IT company from the list

it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
it_companies.remove('Amazon')
print(it_companies)

#Another method
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
del it_companies[-1]
print(it_companies)

#Another method
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
last_index = len(it_companies) - 1
removed_item = it_companies.pop(last_index)
print('THe last item in the list is:', removed_item)
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle']
['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle']
THe last item in the list is: Amazon
['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle']

In [42]:
#24. Remove all IT companies from the list
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
it_companies.clear()
print(it_companies)

#Another method
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
del it_companies[0:]
print(it_companies)

[]
[]

In [46]:
#25. Destroy the IT companies list
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
del it_companies
print(it_companies) #This will return an error because the variable has been deleted and completely destroyed. So, it doesn't exist in the code

NameError: name 'it_companies' is not defined

In [56]:
# 26. Join the following lists:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']

together = front_end + back_end
print(together)

# 27. After joining the lists in question 26. Copy the joined list and assign it to a variable full_stack. Then insert Python and SQL after Redux.
full_stack = together
print(full_stack)

full_stack.insert(5, 'Python')
print(full_stack)

full_stack.insert(6, 'SQL')
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']
['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']
['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'Node', 'Express', 'MongoDB']
['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'SQL', 'Node', 'Express', 'MongoDB']

In [ ]:
### EXERCISE LEVEL 2
### EXERCISE LEVEL 2
### EXERCISE LEVEL 2
### EXERCISE LEVEL 2
### EXERCISE LEVEL 2
### EXERCISE LEVEL 2

In [113]:
#1. The following is a list of 10 students ages:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

# - Sort the list and find the min and max age
ages.sort()
print(ages)

minimum_value = min(ages)
print('THe minumum value in the list is:', minimum_value)

maximum_value = max(ages)
print('THe maximum value in the list is:', maximum_value)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
THe minumum value in the list is: 19
THe maximum value in the list is: 26
[19, 19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 26]
The median age is: 24

In [119]:
# - Add the min age and the max age again to the list
print(ages)
ages.append(19)
ages.append(26)
ages.sort()
print(ages)

[19, 19, 19, 19, 20, 22, 24, 25, 25, 26, 26, 26]
[19, 19, 19, 19, 19, 20, 22, 24, 25, 25, 26, 26, 26, 26]

In [115]:
# - Find the median age (one middle item or two middle items divided by two)

median = len(ages) // 2
median_age = ages.pop(median)
print('The median age is:', median_age)

The median age is: 24

In [129]:
# - Find the average age (sum of all items divided by their number )

print(ages)
average = sum(ages) / len(ages)
print('The average of the list of ages above is:', average)

[19, 19, 19, 19, 19, 20, 22, 24, 25, 25, 26, 26, 26, 26]
The average of the list of ages above is: 22.5

In [134]:
# - Find the range of the ages (max minus min)

print(ages)
ages_range = max(ages) - min(ages)

print('The range of the list of ages above is:', ages_range)

[19, 19, 19, 19, 19, 20, 22, 24, 25, 25, 26, 26, 26, 26]
The range of the list of ages above is: 7

In [148]:
# - Compare the value of (min - average) and (max - average), use _abs()_ method

a = min(ages) - average
b = max(ages) - average

print(a)
print(b)

print('Absolute value of a:', abs(a))
print('Absolute value of b:', abs(b))

check = abs(a) == abs(b)
print ('Check if they are equal:', check)

-3.5
3.5
Absolute value of a: 3.5
Absolute value of b: 3.5
Check if they are equal: True

In [165]:
# Find the middle country(ies) in the [countries list]
countries = [
  'Afghanistan',
  'Albania',
  'Algeria',
  'Andorra',
  'Angola',
  'Antigua and Barbuda',
  'Argentina',
  'Armenia',
  'Australia',
  'Austria',
  'Azerbaijan',
  'Bahamas',
  'Bahrain',
  'Bangladesh',
  'Barbados',
  'Belarus',
  'Belgium',
  'Belize',
  'Benin',
  'Bhutan',
  'Bolivia',
  'Bosnia and Herzegovina',
  'Botswana',
  'Brazil',
  'Brunei',
  'Bulgaria',
  'Burkina Faso',
  'Burundi',
  'Cambodia',
  'Cameroon',
  'Canada',
  'Cape Verde',
  'Central African Republic',
  'Chad',
  'Chile',
  'China',
  'Colombi',
  'Comoros',
  'Congo (Brazzaville)',
  'Congo',
  'Costa Rica',
  "Cote d'Ivoire",
  'Croatia',
  'Cuba',
  'Cyprus',
  'Czech Republic',
  'Denmark',
  'Djibouti',
  'Dominica',
  'Dominican Republic',
  'East Timor (Timor Timur)',
  'Ecuador',
  'Egypt',
  'El Salvador',
  'Equatorial Guinea',
  'Eritrea',
  'Estonia',
  'Ethiopia',
  'Fiji',
  'Finland',
  'France',
  'Gabon',
  'Gambia, The',
  'Georgia',
  'Germany',
  'Ghana',
  'Greece',
  'Grenada',
  'Guatemala',
  'Guinea',
  'Guinea-Bissau',
  'Guyana',
  'Haiti',
  'Honduras',
  'Hungary',
  'Iceland',
  'India',
  'Indonesia',
  'Iran',
  'Iraq',
  'Ireland',
  'Israel',
  'Italy',
  'Jamaica',
  'Japan',
  'Jordan',
  'Kazakhstan',
  'Kenya',
  'Kiribati',
  'Korea, North',
  'Korea, South',
  'Kuwait',
  'Kyrgyzstan',
  'Laos',
  'Latvia',
  'Lebanon',
  'Lesotho',
  'Liberia',
  'Libya',
  'Liechtenstein',
  'Lithuania',
  'Luxembourg',
  'Macedonia',
  'Madagascar',
  'Malawi',
  'Malaysia',
  'Maldives',
  'Mali',
  'Malta',
  'Marshall Islands',
  'Mauritania',
  'Mauritius',
  'Mexico',
  'Micronesia',
  'Moldova',
  'Monaco',
  'Mongolia',
  'Morocco',
  'Mozambique',
  'Myanmar',
  'Namibia',
  'Nauru',
  'Nepal',
  'Netherlands',
  'New Zealand',
  'Nicaragua',
  'Niger',
  'Nigeria',
  'Norway',
  'Oman',
  'Pakistan',
  'Palau',
  'Panama',
  'Papua New Guinea',
  'Paraguay',
  'Peru',
  'Philippines',
  'Poland',
  'Portugal',
  'Qatar',
  'Romania',
  'Russia',
  'Rwanda',
  'Saint Kitts and Nevis',
  'Saint Lucia',
  'Saint Vincent',
  'Samoa',
  'San Marino',
  'Sao Tome and Principe',
  'Saudi Arabia',
  'Senegal',
  'Serbia and Montenegro',
  'Seychelles',
  'Sierra Leone',
  'Singapore',
  'Slovakia',
  'Slovenia',
  'Solomon Islands',
  'Somalia',
  'South Africa',
  'Spain',
  'Sri Lanka',
  'Sudan',
  'Suriname',
  'Swaziland',
  'Sweden',
  'Switzerland',
  'Syria',
  'Taiwan',
  'Tajikistan',
  'Tanzania',
  'Thailand',
  'Togo',
  'Tonga',
  'Trinidad and Tobago',
  'Tunisia',
  'Turkey',
  'Turkmenistan',
  'Tuvalu',
  'Uganda',
  'Ukraine',
  'United Arab Emirates',
  'United Kingdom',
  'United States',
  'Uruguay',
  'Uzbekistan',
  'Vanuatu',
  'Vatican City',
  'Venezuela',
  'Vietnam',
  'Yemen',
  'Zambia',
  'Zimbabwe',
];
print(countries)

### To find the middle country

middle_countries = len(countries) // 2

middle = countries.pop(middle_countries)
print()
print('The middle country in the list of countries of the world is:', middle)

# Position of Nigeria in the list
index =countries.index('Nigeria')
print('The position of Nigeria in the list is:',index)

['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombi', 'Comoros', 'Congo (Brazzaville)', 'Congo', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'East Timor (Timor Timur)', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, North', 'Korea, South', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia and Montenegro', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican City', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']

The middle country in the list of countries of the world is: Lesotho
The position of Nigeria in the list is: 126

In [171]:
# Unpack the first three countries and the rest as scandic countries.

countries = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']
*scandic_countries, first, second, third, fourth = countries

print(scandic_countries)

['China', 'Russia', 'USA']